body{
    text-align: center;
    font-family: 'Glory', sans-serif;
    color: #40514E;

}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color:  #66BFBF;
    
}

h2{  
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2rem;
    color: #11999e;
}   

p{
    margin: 0px;
    font-size: 1.25rem;
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 10px;
    margin: 100px auto;
    border-bottom: none;
    width: 4%;
}
.top-container{
    padding-top: 150px;
    background-color:#cae4db ;
    position: relative;
    background-color: #EAF6F6;
}

.middle-container{
    margin: 100px 0;

}

body,html{
    height: 100%;
    width:100%;
}

.bottom-container{
    padding: 50px 0 20px;
    font-weight:bold;
    background-color: #66BFBF;
}

.top-cld{
    position:absolute;
    right: 300px;
    top:40px;
}

.bottom-cld{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.personal{
    height: 150px;
    border-radius: 5rem;
}

.skill-img-1{
    width: 25%;
    float: left;
    margin-right: 20px;
}

.skill-img-2{
    width: 25%;
    float: right;
    margin-left: 20px;
}

.skill-row{
    /* padding-bottom: 50px; */
    width: 50%;
    margin: 100px auto;
    text-align: left;

}

.contact-me{
    margin: 40px auto;
    width: 30%;
} 

.cpyryt{
    color: #EAF6F6;
    margin-top: 20px;
    font-size: 0.75rem;
}

.BUTTON_UTE {
    margin-top: 50px;
    background: #66BFBF;
    color: #EAF6F6;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 5px 15px;
    border: solid #11999E 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 100px;
 }
 
 .BUTTON_UTE:hover {
    border: solid #66BFBF 1px;
    background: #11999E;
    border-radius: 10px;
    text-decoration: none;
 }

 .footer-link{
     margin: 10px 20px;
     text-decoration: none;
     color: #11999e;    
 }

.intro{
    width:30%;
    margin: auto;
}

